# ── LLM Configuration ──
LLM_MODEL=gemini/gemini-2.5-flash
LLM_API_KEY=AIzaSyDt1wRGc_K3I67Pe-lV4au9vRuvtVJ6JtI

# ── Composio Tool Router ──
COMPOSIO_API_KEY=ak_KubiZ4pzMgSiS2Nnnd3f
COMPOSIO_ORG_KEY=
COMPOSIO_BASE_URL=https://backend.composio.dev/api/v2

GEMINI_EMBED_API_KEY=AIzaSyDt1wRGc_K3I67Pe-lV4au9vRuvtVJ6JtI
GEMINI_EMBED_MODEL=gemeni-embedding-001
GEMINI_EMBED_DIMENSION="768"

# ── ChromaDB Cloud ──
CHROMADB_API_KEY=ck-8UNAXTjyb2Ym1gKiwbTio2aFZTHPQsW3Yp3JteFan4Vd
CHROMADB_TENANT=019308a9-39d0-435c-9864-88398d403041
CHROMADB_DATABASE=superagent
CHROMADB_COLLECTION_NAME="superagent_rag"

# ── Server ──
HOST=0.0.0.0
PORT=5050
DEBUG=false